/* DIY Trainer CSS */
/* Author: Patrick Beeson, pbeeson@thevariable.com */
/* Copyright The Variable */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477dca;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #dddddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #dddddd;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Calculate fluid ratio based on two dimensions (width/height) */
.container {
  max-width: 73.125em;
  margin-left: auto;
  margin-right: auto; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

body.guides {
  font-family: "Open Sans", sans-serif;
  background-color: #56bf39;
  background: url(../images/guide_shape_bg.png) center 300px no-repeat, url(../images/guide_grid_bg.png) top no-repeat, -webkit-linear-gradient(#6abd45, black) top no-repeat;
  background: url(../images/guide_shape_bg.png) center 300px no-repeat, url(../images/guide_grid_bg.png) top no-repeat, linear-gradient(#6abd45, black) top no-repeat; }
  body.guides header {
    display: block;
    position: relative;
    top: 25px; }
    body.guides header:after {
      content: "";
      display: table;
      clear: both; }
    body.guides header hgroup {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      body.guides header hgroup:last-child {
        margin-right: 0; }
    body.guides header h1 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%;
      margin-left: 17.05961%;
      overflow: hidden;
      width: 132px;
      height: 154px;
      background-image: url(../images/diy_trainer_logo.png);
      background-size: cover;
      position: relative;
      z-index: 2;
      bottom: 10px; }
      body.guides header h1:last-child {
        margin-right: 0; }
      body.guides header h1:before {
        content: "";
        display: block;
        width: 0;
        height: 100%; }
    body.guides header h2 {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: -17.05961%;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      background-image: url(../images/guide_headline_bg.png);
      background-size: cover;
      height: 112px;
      position: relative;
      z-index: 1;
      padding-top: 25px;
      padding-left: 175px;
      padding-right: 75px;
      line-height: 1.5em;
      letter-spacing: 2px;
      left: 40px; }
      body.guides header h2:last-child {
        margin-right: 0; }
  body.guides #guide_rendering {
    display: block;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    text-align: center; }
    body.guides #guide_rendering:after {
      content: "";
      display: table;
      clear: both; }
    body.guides #guide_rendering:last-child {
      margin-right: 0; }
  body.guides#email_signup #email_signup_form {
    display: block;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    padding: 10px 25px;
    margin-top: 10px;
    background-color: #66e743; }
    body.guides#email_signup #email_signup_form:after {
      content: "";
      display: table;
      clear: both; }
    body.guides#email_signup #email_signup_form:last-child {
      margin-right: 0; }
    body.guides#email_signup #email_signup_form #form_caption {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%;
      text-align: center; }
      body.guides#email_signup #email_signup_form #form_caption:last-child {
        margin-right: 0; }
      body.guides#email_signup #email_signup_form #form_caption h2 {
        font-size: 18px;
        text-transform: uppercase;
        color: white;
        font-weight: 700;
        letter-spacing: 1px; }
      body.guides#email_signup #email_signup_form #form_caption h3 {
        font-size: 14px;
        color: #2d2d2d;
        font-weight: normal;
        padding-left: 50px;
        padding-right: 50px; }
    body.guides#email_signup #email_signup_form form {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 48.21067%;
      background-color: #56bf39;
      padding: 10px; }
      body.guides#email_signup #email_signup_form form:last-child {
        margin-right: 0; }
      body.guides#email_signup #email_signup_form form label {
        display: none; }
      body.guides#email_signup #email_signup_form form input.emailinput {
        margin-bottom: 0;
        width: 75%;
        float: left;
        border-radius: 0; }
      body.guides#email_signup #email_signup_form form input[type="image"] {
        overflow: hidden;
        padding-left: 25px; }
        body.guides#email_signup #email_signup_form form input[type="image"]:before {
          content: "";
          display: block;
          width: 0;
          height: 100%; }
  body.guides section#guide_explainer {
    clear: left;
    color: #fff;
    padding-top: 25px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    body.guides section#guide_explainer:last-child {
      margin-right: 0; }
    body.guides section#guide_explainer h1 {
      display: block;
      font-size: 48px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 50px; }
      body.guides section#guide_explainer h1:after {
        content: "";
        display: table;
        clear: both; }
    body.guides section#guide_explainer .explainer_image {
      display: block;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      text-align: center;
      margin-bottom: 25px; }
      body.guides section#guide_explainer .explainer_image:after {
        content: "";
        display: table;
        clear: both; }
      body.guides section#guide_explainer .explainer_image:last-child {
        margin-right: 0; }
    body.guides section#guide_explainer #descriptor_list {
      display: block;
      margin-bottom: 50px; }
      body.guides section#guide_explainer #descriptor_list:after {
        content: "";
        display: table;
        clear: both; }
      body.guides section#guide_explainer #descriptor_list li {
        position: relative; }
        body.guides section#guide_explainer #descriptor_list li h2 {
          font-size: 30px;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 10px; }
        body.guides section#guide_explainer #descriptor_list li p {
          font-size: 14px;
          line-height: 1.8em; }
        body.guides section#guide_explainer #descriptor_list li .descriptor_number {
          overflow: hidden;
          display: inline-block;
          width: 132px;
          height: 100px; }
          body.guides section#guide_explainer #descriptor_list li .descriptor_number:before {
            content: "";
            display: block;
            width: 0;
            height: 100%; }
  body.guides #feedback_form_refer {
    clear: left;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    background-color: #56bf39;
    padding: 10px;
    margin-bottom: 50px; }
    body.guides #feedback_form_refer:last-child {
      margin-right: 0; }
    body.guides #feedback_form_refer h2 {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 61.158%;
      margin-left: 12.94733%;
      font-size: 24px;
      font-weight: normal; }
      body.guides #feedback_form_refer h2:last-child {
        margin-right: 0; }
    body.guides #feedback_form_refer a {
      background-color: #2d2d2d;
      color: #56bf39;
      padding: 10px 15px;
      font-weight: 800;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 25px;
      margin-right: 25px;
      float: right; }
  body.guides.guide_1 #descriptor_list li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 17.05961%; }
    body.guides.guide_1 #descriptor_list li:last-child {
      margin-right: 0; }
    body.guides.guide_1 #descriptor_list li.descriptor_1 .descriptor_number, body.guides.guide_1 #descriptor_list li.descriptor_2 .descriptor_number, body.guides.guide_1 body.guides.guide_2 #descriptor_list li.descriptor_3 .descriptor_number, body.guides.guide_2 body.guides.guide_1 #descriptor_list li.descriptor_3 .descriptor_number {
      left: -150px;
      position: absolute; }
    body.guides.guide_1 #descriptor_list li.descriptor_1 .descriptor_number {
      background-image: url(../images/guide1_description_one.png); }
    body.guides.guide_1 #descriptor_list li.descriptor_2 .descriptor_number {
      background-image: url(../images/guide1_description_two.png); }
  body.guides.guide_2 #descriptor_list li {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 17.05961%;
    margin-bottom: 25px; }
    body.guides.guide_2 #descriptor_list li:last-child {
      margin-right: 0; }
    body.guides.guide_2 #descriptor_list li .descriptor_text {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 48.57871%;
      left: -150px; }
      body.guides.guide_2 #descriptor_list li .descriptor_text:last-child {
        margin-right: 0; }
    body.guides.guide_2 #descriptor_list li img {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 48.57871%;
      left: -150px; }
      body.guides.guide_2 #descriptor_list li img:last-child {
        margin-right: 0; }
    body.guides.guide_2 #descriptor_list li.descriptor_1 .descriptor_number, body.guides.guide_2 #descriptor_list li.descriptor_2 .descriptor_number, body.guides.guide_2 #descriptor_list li.descriptor_3 .descriptor_number {
      left: -150px;
      position: absolute; }
    body.guides.guide_2 #descriptor_list li.descriptor_1 .descriptor_number {
      background-image: url(../images/guide2_description_one.png); }
    body.guides.guide_2 #descriptor_list li.descriptor_2 .descriptor_number {
      background-image: url(../images/guide2_description_two.png); }
    body.guides.guide_2 #descriptor_list li.descriptor_3 .descriptor_number {
      background-image: url(../images/guide2_description_three.png); }
  body.guides.guide_3 #descriptor_list {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    body.guides.guide_3 #descriptor_list:last-child {
      margin-right: 0; }
    body.guides.guide_3 #descriptor_list li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      text-align: center; }
      body.guides.guide_3 #descriptor_list li:last-child {
        margin-right: 0; }
      body.guides.guide_3 #descriptor_list li p {
        padding-left: 25px;
        padding-right: 25px; }
      body.guides.guide_3 #descriptor_list li.descriptor_1 .descriptor_number {
        background-image: url(../images/guide3_description_one.png); }
      body.guides.guide_3 #descriptor_list li.descriptor_2 .descriptor_number {
        background-image: url(../images/guide3_description_two.png); }
      body.guides.guide_3 #descriptor_list li.descriptor_3 .descriptor_number {
        background-image: url(../images/guide3_description_three.png); }

body#feedback {
  background-color: white;
  background: url(../images/guide_thankyou_grid_bg.png) top center no-repeat, url(../images/guide_thankyou_header_bg.png) top repeat-x;
  background: url(../images/guide_thankyou_grid_bg.png) top center no-repeat, url(../images/guide_thankyou_header_bg.png) top repeat-x; }
  body#feedback header h1 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    width: 293px;
    height: 342px;
    background-image: url(../images/diy_trainer_logo_lg.png);
    top: 0px; }
    body#feedback header h1:last-child {
      margin-right: 0; }
  body#feedback header h2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background: none;
    text-decoration: underline;
    font-size: 44px;
    font-weight: 800;
    top: 150px; }
    body#feedback header h2:last-child {
      margin-right: 0; }
  body#feedback header h3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    position: relative;
    top: 200px;
    padding-left: 50px;
    padding-right: 25px; }
    body#feedback header h3:last-child {
      margin-right: 0; }
  body#feedback #feedback_form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    margin-top: 100px;
    margin-bottom: 50px; }
    body#feedback #feedback_form:last-child {
      margin-right: 0; }
    body#feedback #feedback_form label {
      font-size: 20px;
      font-weight: 700;
      border-bottom: thick solid black;
      padding-bottom: 10px;
      margin-bottom: 25px; }
    body#feedback #feedback_form textarea#id_project_recommendation {
      border: 10px solid #d1d2d3;
      border-radius: 0;
      margin-bottom: 50px; }
    body#feedback #feedback_form input[type="range"] {
      width: 100%; }
    body#feedback #feedback_form .range_helper {
      text-align: center;
      font-size: 14px; }
      body#feedback #feedback_form .range_helper:after {
        content: "";
        display: table;
        clear: both; }
      body#feedback #feedback_form .range_helper .range_number {
        color: #d1d2d3; }
      body#feedback #feedback_form .range_helper .start {
        float: left; }
      body#feedback #feedback_form .range_helper .finish {
        float: right; }
    body#feedback #feedback_form input[type="submit"] {
      background-color: #2d2d2d;
      color: #56bf39;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 800;
      float: right;
      margin-top: 50px;
      padding: 10px 15px; }
  body#feedback.projects .ctrlHolder ul li:first-child {
    display: none; }
