// Color variables
$guide_bg_green: rgba(106,189,69,1);
$guide_bright_green: rgba(102,231,67,1);
$guide_medium_green: rgba(86,191,57,1);
$guide_dark_gray: rgba(45,45,45,1);
$guide_light_gray: rgba(209,210,211,1);
$guide_medium_gray: rgba(100,100,100,1);