{% extends 'base_guides.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ guide.name }}{{ block.super }}{% endblock title %}

{% block view %}email_signup{% endblock view %}

{% block extra_classes %} guide_{{ guide.version }}{% endblock %}

{% block content %}
<header>
    <hgroup>
        <h1>DIY Trainer</h1>
        <h2>{{ guide.headline }}</h2>
    </hgroup>
</header>

<div id="guide_rendering">
    <img src="{{ MEDIA_URL }}{{ guide.rendering }}" alt="Rendering of {{ guide.name }}">
</div>

<div id="email_signup_form">
    <div id="form_caption">
        <h2>DIY Trainer is almost here.</h2>
        <h3>Sign up to be notified when DIY Trainer launches.</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="image" value="Submit" src="{% static 'images/email_submit_btn.png' %}" class="emailsubmit">
    </form>
</div>

<section id="guide_explainer">
    <h1>Here's how:</h1>
    <ul id="descriptor_list">
        {% for descriptor in guide.descriptor_set.all %}
            <li class="descriptor_{{ descriptor.rank }}">
                <span class="descriptor_number">{{ descriptor.rank }}</span>
                <div class="descriptor_text">
                    <h2>{{ descriptor.title }}</h2>
                    <p>{{ descriptor.body }}</p>
                </div>
                {% if descriptor.image %}
                <img src="{{ MEDIA_URL }}{{ descriptor.image }}" alt="{{ descriptor.title }}">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</section>

<div id="feedback_form_refer">
    <h2>We're busy building out our library of DIY projects. Tell us which ones you'd like to see the most...</h2>
    <a href="{% url 'guide_feedback' guide.version %}">Tell Us &rsaquo;</a>
</div>

{% endblock content %}