{% extends 'base_guides.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load markup %}

{% block title %}{{ guide.name }}{{ block.super }}{% endblock title %}

{% block view %}email_signup{% endblock view %}

{% block extra_classes %} guide_{{ guide.version }}{% endblock %}

{% block header %}
<header>
    <hgroup>
        <h1>DIY Trainer</h1>
    </hgroup>
</header>
{% endblock header %}

{% block content %}

<div id="guide_promo">
    <div id="guide_rendering">
        <img src="{{ MEDIA_URL }}{{ guide.rendering }}" alt="Rendering of {{ guide.name }}">
    </div>
    <div id="guide_headline">
        <h2>Learn new home<br>improvement skills online.</h2>
        <h3>{{ guide.headline|markup|removetags:"p"|safe }}</h3>
    </div>
</div>

<div id="email_signup_form">
    <div id="form_caption">
        <h2>Coming Soon</h2>
        <h3>Sign up to be notified by email when DIY Trainer launches.</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Sign up &rsaquo;" class="emailsubmit">
    </form>
</div>

<section id="guide_explainer">
    <h1>Here's how:</h1>
    <ul id="descriptor_list">
        {% for descriptor in guide.descriptor_set.all %}
            <li class="descriptor_{{ descriptor.rank }}">
                <span class="descriptor_number">{{ descriptor.rank }}</span>
                <div class="descriptor_text">
                    <h2>{{ descriptor.title }}</h2>
                    <p>{{ descriptor.body }}</p>
                </div>
                {% if descriptor.image %}
                <img src="{{ MEDIA_URL }}{{ descriptor.image }}" alt="{{ descriptor.title }}">
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if guide.description_image %}
    <div class="explainer_image">
        <img src="{{ MEDIA_URL}}{{ guide.description_image }}" alt="{{ guide.name }}">
    </div>
    {% endif %}
</section>

<div id="feedback_form_refer">
    <h2>We're busy building out our {% if guide.version == 2 %}network{% else %}library{% endif %} of {% if guide.version == 2 %}home improvement experts{% else %}DIY projects{% endif %}. Tell us which {% if guide.version == 2 %}projects{% else %}ones{% endif %} you'd like {% if guide.version == 2 %}advice on{% else %}to see{% endif %} the most...</h2>
    <a href="{% url 'guide_feedback' guide.version %}">Tell Us &rsaquo;</a>
</div>

{% endblock content %}