{% extends 'base_guides.html' %}

{% block title %}Thanks! {{ block.super }}{% endblock title %}

{% block view %}feedback{% endblock view %}

{% block header %}
<header>
    <hgroup>
        <h1>DIY Trainer</h1>
    </hgroup>
</header>
{% endblock header %}

{% block content %}
<div id="feedback_thanks">
    <h2>Thanks again!</h2>
    <h3>We appreciate your input. We'll use it to improve the DIY Trainer for you and all of our users in the future.</h3>
</div>
{% endblock content %}

{% block google_adsense %}
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970054238;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "{% if guide_version == '1' %}CidDCKqv1wgQ3rTHzgM{% elif guide_version == '2' %}F63KCKKw1wgQ3rTHzgM{% elif guide_version == '3' %}5qjuCJqx1wgQ3rTHzgM{% endif %}";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970054238/?label={% if guide_version == '1' %}CidDCKqv1wgQ3rTHzgM{% elif guide_version == '2' %}F63KCKKw1wgQ3rTHzgM{% elif guide_version == '3' %}5qjuCJqx1wgQ3rTHzgM{% endif %}&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endblock google_adsense %}