{% extends 'base_guides.html' %}

{% load crispy_forms_tags %}

{% block title %}Feedback | {{ guide.name }}{{ block.super }}{% endblock title %}

{% block view %}feedback{% endblock view %}

{% block header %}
<header>
    <hgroup>
        <h1>DIY Trainer</h1>
    </hgroup>
</header>
{% endblock header %}

{% block content %}
<div id="feedback_thanks">
    <h2>Thank you</h2>
    <h3>Thanks for your interest!<br>We're working hard to get DIY Trainer in shape for you.</h3>
</div>

<div id="feedback_form">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="range_helper">
            <span class="start"><span class="range_number">1</span><br>Completely<br>Mortified</span>
            <span class="finish"><span class="range_number">10</span><br>Utterly<br>Fearless</span>
        </div>
        <input type="submit" value="Submit &rsaquo;">
    </form>
</div>

{% endblock content %}