{% extends 'base_projects.html' %}

{% block title %}{{ detaillevel.project.name }} | Detail Level {{ detaillevel.level }}{{ block.super }}{% endblock title %}

{% block view %}detaillevel{% endblock view %}

{% block content %}
<header>
    <hgroup>
        <h1>DIY Trainer</h1>
        <h2>{{ detaillevel.project.name }}</h2>
        <div id="detail_level">Amount of detail:
        {% for level in detaillevel.project.detaillevel_set.all %}
            {% ifequal level.level detaillevel.level %}
                <span class="current_level">{{ level.get_level_display }}</span>
            {% else %}
                {{ level.get_level_display }}
            {% endifequal %}
        {% endfor %}
        <h3>Step-by-step guide with just the right amount of detail for you.</h3>
        <h4>{{ detaillevel.introduction }}</h4>
    </hgroup>
</header>

<div class="project_lead_art">
    <img src="{{ MEDIA_URL }}{{ detaillevel.project.lead_art }}" alt="{{ detaillevel.project.name }}">
</div>

<div class="project_overview">
    <h2 class="section_heading">Project Overview</h2>
    {{ detaillevel.project_overview_html|safe }}
</div>

<section id="detaillevel_content">
<h2 class="section_heading">Time, Skill &amp; Complexity</h2>
{{ detaillevel.time_skill_and_complexity_html|safe }}

{% if detaillevel.terminology %}
<h2 class="section_heading">Terminology</h2>
{{ detaillevel.terminology_html|safe }}
{% endif %}

<h2 class="section_heading">Tools &amp; Complexity</h2>
{{ detaillevel.tools_and_materials_html|safe }}

<h2 class="section_heading">Step-by-Step Instructions</h2>
<ol class="step_list">
{% for step in detaillevel.step_set.all %}
    <li class="step">
        <span class="step_rank">{{ step.rank }}</span>
        <h3 class="step_title">{{ step.title }}</h3>
        <p>{{ step.body }}</p>
        {% if step.quick_tip %}
        <div class="quicktip">
            <h4>Quick Tip</h4>
            <p>{{ step.quick_tip }}</p>
        </div>
        {% endif %}
    </li>
{% endfor %}
</ul>

{% endblock content %}

{% block footer %}
<footer>
    <div class="container">
        <h2>Get more detail</h2>
        <p>Do you have the information you need, or do you still want to see more information related to this project?</p>
        
        <ul class="detaillevel_options">
            <li class="satisfied_option"><a href="{% url 'project_satisfied_feedback' detaillevel.project.slug detaillevel.level %}">I'm good</a></li>
            <li class="unsatisfied_option"><a href="{% if detaillevel.get_next >= 3 %}{% url 'detaillevel_detail' detaillevel.project.slug detaillevel.get_next %}{% else %}{% url 'project_unsatisfied_feedback' detaillevel.project.slug detaillevel.level %}{% endif %}">Give me more</a></li>
        </ul>
        
    </div>
</footer>
{% endblock footer %}