{% extends 'base_projects.html' %}
{% load thumbnail %}
{% load markup %}
{% load staticfiles %}

{% block title %}{{ detaillevel.project.name }} | Detail Level {{ detaillevel.level }}{{ block.super }}{% endblock title %}

{% block view %}detaillevel{% endblock view %}

{% block extra_classes %} detaillevel_{{ detaillevel.level }}{% endblock %}

{% block content %}
{% for module in detaillevel.module_set.all %}
{{ module.get_steps_for_detaillevel }}
{% endfor %}
<header>
    <div class="container">
        <hgroup>
            <h1>DIY Trainer</h1>
            <div class="header_secondary">
                <h2>{{ detaillevel.project.name }}</h2>
                <div id="detail_level">Amount of detail:
                <ul class="level_list">
                {% for level in detaillevel.project.detaillevel_set.all %}
                    {% ifequal level.level detaillevel.level %}
                        <li class="level current_level">{{ level.get_level_display }}</li>
                    {% else %}
                        <li class="level">{{ level.get_level_display }}</li>
                    {% endifequal %}
                {% endfor %}
                </ul>
                <h3>{{ detaillevel.descriptor }}</h3>
                <h4>Choose the level of step-by-step detail you need for your project.</h4>
                <h5>{{ detaillevel.introduction }}</h5>
            </div>
        </hgroup>
    </div>
</header>

<div class="content_wrap">
    <div class="container">

        <section id="detaillevel_content">

            <div id="project_overview" class="detaillevel_section">
                <h2 class="section_heading">Project Overview</h2>
                {% if detaillevel.project.lead_art %}
                <div class="project_lead_art">
                    <img src="{{ MEDIA_URL }}{{ detaillevel.project.lead_art }}" alt="{{ detaillevel.project.name }}">
                </div>
                {% endif %}
                {{ detaillevel.project_overview_html|safe }}
            </div>

            <div id="time_skill_complexity" class="detaillevel_section">
                <h2 class="section_heading">Time, Skill &amp; Complexity</h2>
                {{ detaillevel.time_skill_and_complexity_html|safe }}
            </div>

            {% if detaillevel.terminology %}
            <div id="terminology" class="detaillevel_section">
                <h2 class="section_heading">Terminology</h2>
                {{ detaillevel.terminology_html|safe }}
            </div>
            {% endif %}

            <div id="tools_materials" class="detaillevel_section">
                <h2 class="section_heading">Tools &amp; Materials</h2>
                {{ detaillevel.tools_and_materials_html|safe }}
            </div>

            <div id="instructions" class="detaillevel_section">
                <h2 class="section_heading">Step-by-Step<br>Instructions</h2>
                {% if detaillevel.module_set.count %}
                    <ol class="module_list">
                    {% for module in detaillevel.module_set.all %}
                        <li class="module">
                            <h3 class="module_header"><span class="module_count">Module {{ module.rank }}</span> {{ module.title }}</h3>
                            <ol class="step_list">
                            {% for step in module.get_steps_for_module %}
                                <li class="step">
                                    <span class="step_rank"><div class="count">{{ forloop.counter }}</div></span>
                                    <div class="step_content">
                                        {% if step.image %}
                                        <div class="step_image">
                                        {% thumbnail step.image "225x150" crop="center" as step_image %}
                                            <img src="{{ step_image.url }}" alt="{{ step.title }}">
                                        {% endthumbnail %}
                                        </div>
                                        {% endif %}
                                        <h3 class="step_title">{{ step.title|markup|removetags:"p"|safe }}</h3>
                                        {{ step.body_html|safe }}
                                    </div>
                                    {% if step.quick_tip %}
                                    <div class="quick_tip">
                                        <h4>Quick Tip</h4>
                                        <p>{{ step.quick_tip }}</p>
                                    </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ol>
                        </li>
                    {% endfor %}
                    </ol>
                {% else %}
                <ol class="step_list">
                {% for step in detaillevel.step_set.all %}
                    <li class="step">
                        <span class="step_rank"><div class="count">{{ step.rank }}</div></span>
                        <div class="step_content">
                        {% if step.image %}
                        <div class="step_image">
                        {% thumbnail step.image "225x150" crop="center" as step_image %}
                            <img src="{{ step_image.url }}" alt="{{ step.title }}">
                        {% endthumbnail %}
                        </div>
                        {% endif %}
                            <h3 class="step_title">{{ step.title|markup|removetags:"p"|safe }}</h3>
                            {{ step.body_html|safe }}
                        </div>
                        {% if step.quick_tip %}
                        <div class="quick_tip">
                            <h4>Quick Tip</h4>
                            <p>{{ step.quick_tip }}</p>
                        </div>
                        {% endif %}
                    </li>
                {% endfor %}
                </ol>
                {% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock content %}

{% block footer %}
<footer>
    <div class="container">
        <h2>Get more detail</h2>
        <p>Do you have the information you need, or do you still want to see more information related to this project?</p>
        
        <ul class="detaillevel_options">
            <li class="satisfied_option"><a href="{% url 'project_satisfied_feedback' detaillevel.project.slug detaillevel.level %}">I'm good</a></li>
            <li class="unsatisfied_option"><a href="{% if detaillevel.get_next >= 3 %}{% url 'detaillevel_detail' detaillevel.project.slug detaillevel.get_next %}{% else %}{% url 'project_unsatisfied_feedback' detaillevel.project.slug detaillevel.level %}{% endif %}">Give me more &rsaquo;</a></li>
        </ul>
        
    </div>
</footer>
{% endblock footer %}

{% block scroll_depth %}
<script src="{% static 'js/jquery.scrolldepth.min.js' %}"></script>
<script type="text/javascript">
  jQuery(function() {
    jQuery.scrollDepth();
  });
</script>
{% endblock scroll_depth %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function() {
    // Event tracking
    $('ul.detaillevel_options a').on('mousedown', function() {
        ga('send', 'event', 'link', 'click', 'detaillevel-options');
    });
});
</script>
{% endblock extra_js %}