{% extends 'base_projects.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}{% endblock title %}

{% block view %}feedback{% endblock view %}

{% block content %}
<header>
    <hgroup>
        <h1>DIY Trainer</h1>
        <h2>Thank you</h2>
        <h3>Thanks for viewing our project guide. We're always expanding our library. Tell us a little about your home improvement experience so we can make our instructions better and better.</h3>
    </hgroup>
</header>


<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit">
</form>

{% endblock content %}