{% extends 'base_projects.html' %}
{% load staticfiles %}
{% block title %}Thanks! {{ block.super }}{% endblock title %}

{% block view %}feedback{% endblock view %}

{% block extra_classes %}{% if show_extra_content %} video{% endif %}{% endblock %}

{% block content %}
<header>
    <hgroup>
        <h1>DIY Trainer</h1>
        <h2>Thanks again!</h2>
        <h3>We appreciate your input. We'll use it to improve the DIY Trainer for you and all of our users in the future.</h3>
    </hgroup>
</header>

<div class="extra_content">
    <div class="container">
    {% if show_extra_content %}
        <div class="extra_content_image">
            {% if project_slug == 'install-mailbox' %}
                <a href="https://www.youtube.com/results?search_query=how+to+install+a+post+mailbox"><img src="{% static 'images/install_mailbox_youtube_thumb.jpg' %}" alt="Install a mailbox YouTube videos"></a>
            {% elif project_slug == 'hang-floating-shelf' %}
                <a href="https://www.youtube.com/results?search_query=how+to+hang+a+floating+shelf"><img src="{% static 'images/hang_floating_shelf_youtube_thumb.jpg' %}" alt="Hang floating shelf YouTube videos"></a>
            {% elif project_slug == 'install-crown-molding' %}
                <a href="https://www.youtube.com/results?search_query=how+to+install+crown+molding"><img src="{% static 'images/install_crown_molding_youtube_thumb.jpg' %}" alt="Install crown molding YouTube videos"></a>
            {% elif project_slug == 'refinish-wood-furniture' %}
                <a href="https://www.youtube.com/results?search_query=how+to+refinish+wood+furniture"><img src="{% static 'images/refinish_wood_furniture_youtube_thumb.jpg' %}" alt="Refinish wood furniture YouTube videos"></a>
            {% endif %}
        </div>
        <div class="extra_content_copy">
            <p>Here's a video guide for the project you're working on, if you still need extra help. Good luck!</p>
            {% if project_slug == 'install-mailbox' %}
                <a class="thanks_refer" href="https://www.youtube.com/results?search_query=how+to+install+a+post+mailbox">View on YouTube &rsaquo;</a>
            {% elif project_slug == 'hang-floating-shelf' %}
                <a class="thanks_refer" href="https://www.youtube.com/results?search_query=how+to+hang+a+floating+shelf">View on YouTube &rsaquo;</a>
            {% elif project_slug == 'install-crown-molding' %}
                <a class="thanks_refer" href="https://www.youtube.com/results?search_query=how+to+install+crown+molding">View on YouTube &rsaquo;</a>
            {% elif project_slug == 'refinish-wood-furniture' %}
                <a class="thanks_refer" href="https://www.youtube.com/results?search_query=how+to+refinish+wood+furniture">View on YouTube &rsaquo;</a>
            {% endif %}
        </div>
    {% else %}
        <div class="extra_content_copy">
            <p>Now that your voice has been heard, we'll let you get back to work. Head back to the guide to finish your project.</p>
            <a class="thanks_refer" href="{% url 'detaillevel_detail' project_slug level %}">&lsaquo; Back to the Guide</a>
        </div>
    {% endif %}
    </div>
</div>

{% endblock content %}

{% block google_adsense %}
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970054238;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "{% if project_slug == 'install-mailbox' %}LTA8CJLB1wgQ3rTHzgM{% elif project_slug == 'hang-floating-shelf' %}TXoSCIrC1wgQ3rTHzgM{% elif project_slug == 'install-crown-molding' %}yqkHCJrA1wgQ3rTHzgM{% elif project_slug == 'refinish-wood-furniture' %}2Op0CKK_1wgQ3rTHzgM{% endif %}";

var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970054238/?label={% if project_slug == 'install-mailbox' %}LTA8CJLB1wgQ3rTHzgM{% elif project_slug == 'hang-floating-shelf' %}TXoSCIrC1wgQ3rTHzgM{% elif project_slug == 'install-crown-molding' %}yqkHCJrA1wgQ3rTHzgM{% elif project_slug == 'refinish-wood-furniture' %}2Op0CKK_1wgQ3rTHzgM{% endif %}&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endblock google_adsense %}