{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}DIY Trainer | diy-trainer.com{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body id="{% block view %}{% endblock view %}">

    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
